body{
    font-size: 0.9em;
}

table{
    padding-top: 4px;
}

h3,h4,h5{
    font-weight : bold;
}

h4{
    margin: 0px 0px 15px 0px;
}
ul{
    list-style-type : none;
    margin-bottom: 20px;
    padding-left:10px;
}

.card{
    padding : 0px;
    margin: 10px 5px 20px 5px;
    width: 400px;
}

.card-body, .card-header{
    padding: 0.5rem;
}

span.card-title{
    font-weight: bold;
    font-size: 1.4em;
    width: 200px;
}

navbar{
    border-bottom: 1px solid gray;
}

a.resultsBtn{
    float: right;
    margin-right: 20px;
}

.yaadlinks-tagline{
    width: 140px;
    padding-top: 6px;
    margin-left: 0px;
    font-size: 0.8em;
    font-style: italic;
    font-weight: 600;
    text-align: left;
    color: #8ca9a6;
    cursor: default;
}

.yaadlinks-img{
    margin-top: 18px;
}

caption{
    caption-side: top;
    font-weight: bold;
    color: #000;
    font-family:Arial;
    font-size: 1.4em;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }